html {
    box-sizing: border-box;
    font-family: 'Karla';
    font-size: 16px;
    font-weight: 400;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h2, h3, h4, p {
    margin: 0;
}

body {
    padding: 20px;
}

#card-container {
    border-radius: 5px;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.35);
}

#top-section-container {
    width: 100%;
    height: 45%;
    padding: 25px;
}

#bottom-section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55%;
    color: white;
}

#bottom-left-container {
    height: 100%;
    background-color: #2AB2B0;
    padding: 25px;
    flex-basis: 50%;
}

#bottom-right-container {
    height: 100%;
    background-color: #4ABDBD;
    padding: 25px;
    flex-basis: 50%;
}

#top-section-container h2 {
    color: #2AB2B0;
    margin-bottom: 20px;
}

#top-section-container h4 {
    color: #c0df34;
    margin-bottom: 10px;
}

#top-section-container p {
    color: #98a6bd;
}

button {
    color: white;
    background-color: #c0df34;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #a9c42d;
    transform: scale(1.02);

}

#price-container {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

#price {
    font-weight: 700;
    font-size: 1.4rem;
}


#price-frequency {
    font-size: 0.8rem;
    opacity: 0.7;
    margin-left: 5px;
}

#bottom-left-container h3 {
    margin-bottom: 20px;
}

#bottom-left-container p {
    font-size: 0.8rem;
    margin-bottom: 40px;
}

ul {
    padding: 0;
    list-style: none;
    font-size: 0.8rem;
    opacity: 0.8;
}


@media (min-width: 576px) {
    #card-container {
        width: 650px;
        height: 450px;
    }

    #bottom-section-container {
        flex-direction: row;
    }

}